.messanger{
    height: 100vh;
    display: flex;
    text-align: left;
}

.chatMenu{
    flex: 3.5;
}

.chatMenuInput{
    width: 90%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid gray;
}

.chatMessageInput{
    width: 80%;
    height: 90px;
    padding: 10px;
}

.chatSubmitButton{
    width: 70px;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: teal;
    color: white;
}

.chatOnline{
    flex: 3;
} 

.chatMenuWrapper, .chatBoxWrapper, .chatOnlineWrapper {
    padding: 10px;
    height: 100%;
}